/* main section */

.main-container {
  display: grid;
  grid-template-columns: 19% 61% 20%;
  width: 100%;
  height: 890px;
  background-color: black;
}

/* cutomer selections */
.customer-selections {
  width: 100%;
  border-right: 1px solid white;
  font-size: 16px;
}

.customer-selections article {
  color: white;
  font-size: 17px;
  padding: 10px;
  text-align: center;
}
.new-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 90px;
  color: #ffd700;
}

.new-account button {
  padding: 10px 15px;
  border-radius: 30px;
  background-color: orange;
  font-size: 14px;
  font-weight: bold;
  border: none;
  transition: all 1s ease-in-out;
}

.new-account button:hover {
  cursor: pointer;
  background-color: #74ee15;
  box-shadow: 0px 2px 2px 2px #73ee1589;
  transform: scale(1.1);
  transition: all 1s ease-in-out;
}
.browse-games {
  text-align: center;
  text-decoration: underline;
  color: #ffd700;
}
.drop-down-menus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #ffd700;
  font-size: 16px;
  height: 70px;
}

.drop-down-menus select {
  padding: 5px 9px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}
/* gallery */

.gallery-container {
  display: grid;
  grid-template-rows: 50px auto;
  scroll-behavior: smooth;
}

/* hides the scroll bar */
.gallery-container::-webkit-scrollbar {
  display: none;
}
.header-container {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
}

.header-container header {
  color: #ffd700;
  font-size: 2.5em;
}

.gallery-section {
  display: grid;
  /* the minmax(150px, 1fr) sets the width of the image container
  to 150px as the width of the image container is 100%*/
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.image-container {
  width: 100%;
  height: 250px;
  border: 1px solid white;
  text-align: center;
  position: relative;
  transition: all 500ms ease-in-out;
  border-radius: 5px;
  border: 1px solid white;
}

.image-container:hover {
  box-shadow: 0px 2px 2px 2px #ffd700;
}
.image-size {
  width: 100%;
  height: 247px;
  border-radius: 5px;
}

.caption-container {
  position: absolute;
  width: 100%;
  height: 28px;
  text-align: center;
  background-color: white;
  bottom: 0.1px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.caption-container:hover {
  background-color: orange;
  cursor: pointer;
}
.caption-container figcaption {
  font-size: larger;
}
/* chart section */

.chart-heading {
  color: #ffd700;
  text-align: center;
  font-size: larger;
  padding-top: 5px;
}

/* chart styles in charts.css */
/* high scores section */
.high-scores-section {
  border-left: 1px solid white;
}
.leaderboard-table {
  width: 100%;
  height: 150px;
  background-color: black;
  font-size: large;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  padding-left: 5px;
}

.leaderboard-table th {
  text-align: center;
}

.leaderboard-table td {
  font-size: 16px;
}
.leaderboard-table tr:nth-child(1) {
  height: 35px;
  font-size: 2em;
}

.leaderboard-table tr:nth-child(odd) {
  color: gold;
}

.leaderboard-table tr:nth-child(even) {
  color: silver;
}

.leaderboard-table td:nth-child(1) {
  color: rgba(170 90 240 / 75%);
  text-transform: uppercase;
}

.leaderboard-table td:nth-child(2),
.leaderboard-table td:nth-child(3),
.leaderboard-table td:nth-child(4) {
  text-align: center;
}

/* chart styles in charts.css */

/* youtube video */
.youtube-video {
  color: #ffd700;
  font-size: 1.2em;
  text-align: center;
  text-decoration: underline;
}
